.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.app header {
  padding: 0.5em;
  font-weight: 500;
}
.app header,
.app footer {
  background-color: rgb(241 241 241);
}

header .top-navbar {
  float:right;
  margin-right: 1em;
}
.rss-reader,
.about {
  display: flex;
  flex: 1;
  height: calc(1vh - 100px);
}

/* About Page ------------------------------------------*/
.about .about-main {
  text-align: center;
  margin-top:3em;
  flex:1;
}
/* RSS Reader page */
.rss-reader > nav {
  padding :0em;
}

.source-list {
  /* 12em is the width of the columns */
  flex: 1;
  min-width: 10em;
  max-width: 15em;
  overflow-y: scroll;
  font-size: smaller;
  border-right: 2px solid #f1f1f1;
  padding-left: 6px;
}

.source-item {
  cursor: pointer;
  display: flex;
  padding: 0.4em;
}
.source-item .source-label {
  flex-grow: 1;
}
.source-item .refresh {
  flex-grow: 0;
}

.result-list {
  flex: 1.5;
  min-width: 10em;
  max-width: 20em;
  border-right: 2px solid #f1f1f1;
}

.source-list .selected,
.result-list .selected {
  background-color: #b0e6ff;
}
.resultListItems {
  height: calc(100vh - 82px);
  overflow-y: auto;
}
#resultList .info-block {
  background-color: #f1f1f1;
  font-size: small;
  padding:4px;
}
.rss-item {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 2px;  
  
}
.source-item:hover,
.rss-item:hover {
  background-color: #74d3ff

}
.result-detail {
  flex: 3;
  padding:1em;
}
/* loader */
.refresh {
  display: inline-block;
}
.refresh:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #144ae2;
  float: right;
}
.refresh-pending:after {
  border-color: #fff0 #144ae2 #ffffff03 #144ae2;
  animation: refresh 0.5s linear infinite;
}
.refresh-error:after {
  border-color: rgb(223, 17, 17);
}
@keyframes refresh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



